*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 50px;
}

input{
  width: 100%;
  font-size: 1.1rem;
  color: grey;
}

.card{
  align-content: center;
  border: 1px solid green;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}